<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.acdi.proyecto_final_daute">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Proyecto_Final_DAUTE"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".password"
            android:exported="false"
            android:theme="@style/Theme.DAUTE_NoActionBar"/>
        <activity
            android:name=".Edit_Category"
            android:exported="false" />
        <activity
            android:name=".Edit_Product"
            android:exported="false" />
        <activity
            android:name=".Edit_User"
            android:exported="false" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".list_category"
            android:exported="false"
            android:theme="@style/Theme.DAUTE_NoActionBar" />
        <activity
            android:name=".list_product"
            android:exported="false"
            android:theme="@style/Theme.DAUTE_NoActionBar" />
        <activity
            android:name=".List_User"
            android:exported="false"
            android:theme="@style/Theme.DAUTE_NoActionBar" />
        <activity
            android:name=".Login"
            android:exported="true"
            android:theme="@style/Theme.DAUTE_NoActionBar" />
        <activity
            android:name=".SplashScreen"
            android:exported="true"
            android:theme="@style/Theme.DAUTE_NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Proyecto_Final_DAUTE.NoActionBar" />
    </application>

</manifest>